.icon-profile{
    height: 80px;
    width: 80px;
    padding: 8px;
}

.info-target{
    padding: 0;
    margin: 0;
}

.txt-bold{
    font-weight: bold;
}
.btn-edit-profile{
    height: 30px;
    width: 30px;
    padding-right: 10px;
}

.cnt-info-profile{
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}
ion-content .content-profile{
    padding: 15px;
}

.btn-reg{
    padding: 15px;
    width: 100%;
    border-radius: 30px;
    background-color: #3dc2ff;
}
