ion-slides{
    --bullet-background: grey;
    --bullet-background-active: #8890B2;
  }
  
  ion-slide{
    display: block;
  }
  
  .slide-img-padding{
    padding: 40px;
  }

  .txt-bold{
      font-weight: bold;
  }