<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="requested-orders-admin">
      <ion-icon name="home"></ion-icon>
      <ion-label>Registros</ion-label>
    </ion-tab-button>
    <!--

    <ion-tab-button tab="products-admin">
      <ion-icon name="pricetags"></ion-icon>
      <ion-label>Rutinas</ion-label>
    </ion-tab-button>

    -->

    <ion-tab-button tab="promotions-admin">
      <ion-icon name="cash"></ion-icon>
      <ion-label>Tableros</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
