.cnt-btn-add-product{
    padding: 10px;
}
.img-product{
    height: 90px;
    width: 90px;
    padding: 5px;
    margin: 0;
    border-radius: 10px;
}
.title-procuct{
    margin: 0;
}
.price-product{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.content-product{
    padding: 0;
}

.btn-all-proscuts{
    padding: 0;
    margin: 0;
}
