<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="index-user">
      <ion-icon name="home"></ion-icon>
      <ion-label>Entrenar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="promotions-user">
      <ion-icon name="pricetags"></ion-icon>
      <ion-label>Métricas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile-user">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabcamara">
      <ion-icon name="camera"></ion-icon>
      <ion-label>camara</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
