<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs-user"></ion-back-button>
    </ion-buttons>
    <ion-title>Todos los postres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- lista productos Postres -->
  <ion-item>
    <ion-title>Postres</ion-title>
  </ion-item>
  <ion-list>
    <ion-card>
      <ion-item class="content-product">
        <img class="img-product" slot="start" src="../../../../assets/img/postre.jpg">
        <ion-text class="title-procuct" slot="start">Postre de Chocolate</ion-text>
        <ion-label class="price-product" slot="end">$1500</ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item class="content-product">
        <img class="img-product" slot="start" src="../../../../assets/img/postre.jpg">
        <ion-text class="title-procuct" slot="start">Postre de melocoton</ion-text>
        <ion-label class="price-product" slot="end">$1500</ion-label>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
