.container-sign-up{
    padding: 40px;
    padding-top: 5%;
}

.content-title{
    text-align: center;
    padding-bottom: 30px;
}

.content-title ion-label{
    font-size: 25px;
    font-weight: bold;
}

.btn-reg{
    padding: 15px;
    width: 100%;
    border-radius: 30px;
    background-color: #3dc2ff;
}
.btn-log{
    padding: 15px;
    width: 100%;
    border-radius: 30px;
    background-color: #f78113;
}
.content-button{
    padding-bottom: 5px;
}

ion-grid{
    padding:0;
}

.content-img{
    width: 100%;
    text-align: center;
}
.animated-oblea{
    height: 80px;
    width: 80px;
}
ion-content{
    text-align: center;
}
